body {
    font-family: Arial, sans-serif;
    background-color: #9460a4;
  }
  
  .container {
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #d15c5c;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  li span {
    margin-right: 10px;
    cursor: pointer;
  }
  
  li.completed span {
    text-decoration: line-through;
  }
  